<h1>Editing Journal</h1>

<%= form_for(@journal) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<a href="/journals/<%= @journal.id %>">Show</a> |
<a href="/journals">Back</a> |
