<p id="notice"><%= notice %></p>

<h1>Listing Journals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.name %></td>
        <td><a href="/journals/<%= journal.id %>">Show</a></td>
        <td><a href="/journals/<%= journal.id %>/edit">Edit</a></td>
        <td><a href="/journals/<%= journal.id %>" data-method="delete">Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/journals/new">New Journal</a>
